@import "../../assets/sass/_variables";

.order_section {
	padding-top: 96px;
    padding-bottom: 99px;
}
.title {
	margin-bottom: 30px;
}
.description {
	font-size: 17px;
	text-align: center;
	width: 520px;
	max-width: 100%;
	margin-bottom: 34px;
}
.order_button {
	
}