@import "../../assets/sass/_variables";

.email {
	&:hover, &:focus {
		color: $tx_light_grey;
		opacity: $hover_opacity;
		cursor: pointer;
		@media (hover: none) {
			opacity: 1;
		}
	}
}